

body {
  background-color: white(244, 244, 207);
}
.topsaperator{
  height: 3px;
  width: 100%;
  background-color: rgba(227, 216, 216, 0.784);
}
.main {
  width: 90%;
  margin: auto;

}
.header {
  margin: auto;
  width: 100%;
  height: 200px;
  background-color: white(106, 238, 198);
  display: flex;
}

.subheader {
  width: 50px;
  height: 25px;
  background-color: rgb(255, 87, 51);
  margin-right:10px ;
  border-radius: 10px;
  color: white;
  font: bold;
  text-align: center;
}

.loudspeakersign {
  width: 40px;
  height: 20px;
  border-right: 2px solid;
  border-color: rgba(175, 162, 169,0.5);  
}

.loudspeakersign img {
  height: 100%;
  width: 100%;

}


.vediosign {
  width: 40px;
  height: 20px;

}

.vediosign img {
  height: 100%;
  width: 100%;

}

.logo{
  margin: auto;
}

.logo img {
  height: 100%;
  width: 200px;
}


.threeline {
  width: 40px;
  height: 20px;
  border-right: 2px solid;
  border-color: rgba(175, 162, 169,0.5);  
}

.threeline img {
  height: 100%;
  width: 100%;

}

.news {
  width: 80px;
  height: 25px;
  background-color: rgb(255, 87, 51);
  margin-right:10px ;
  border-radius: 10px;
  color: white;
  font: bold;
  text-align: center;
}

.searchicon {
  width: 40px;
  height: 20px;
}

.searchicon img {
  height: 100%;
  width: 100%;
}


.menu  {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  display: flex;
  justify-content:center ;
}
.menu a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font: bold;
}
.menu li{
  margin: 0px 55px;
}

.headersaperator{
  height: 2px;
  width: 100%;
  background-color: rgba(227, 216, 216, 0.784);
}

















